<div style="font-family: 'Roboto', sans-serif; font-size: 30px; color: white; text-align: center; transform: translateX(-80px);">
    <p>LIMPIEZA Y MANIPULACION DE DATOS</p>
</div>

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>1. Importación de librerias</p>
</div>

In [ ]:
import pandas as pd
import glob  # Libreria para buscar archivos en las carpetas
import os

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>2. Importación de los archivos</p>
</div>

In [ ]:
path = r'C:\Users\Darkos\Desktop\Labs\WEEK_3_First_porject_'
path1 = r"C:\Users\Darkos\Desktop\Labs\WEEK_3_First_porject_\master\madrid_retiro_1980"
dataframes = []
df_retiro_1980 = []

''''Se itera en las carpetas para incluis los csv's en las listas creadas'''

for archive in glob.glob(os.path.join(path, '*.csv')):
    df = pd.read_csv(archive)
    dataframes.append(df)

for element in glob.glob(os.path.join(path1, '*.csv')): 
    df_retiro = pd.read_csv(element)
    df_retiro_1980.append(df_retiro)

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>3. Concatenación de los dataframes.</p>
      <ul>
    <li style='font-size:22px'>df_concatenated</li>
    <li style='font-size:22px'>df_historic</li>
    </ul>
</div>

In [ ]:
'''Concatenacion de ambos dataframes'''
df_concatenated = pd.concat(dataframes, ignore_index=True)
df_historic = pd.concat(df_retiro_1980, ignore_index=True)

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>4. Supresión de columnas</p>
</div>

In [4]:
df_concatenated = df_concatenated.drop(['sol','presMax','horaPresMax', 'presMin','horaPresMin','hrMin','horaHrMin','horaracha','hrMedia','hrMax','horaHrMax','racha'], axis=1)
df_historic = df_historic.drop(['n_cub','hr','n_gra','n_fog','inso','q_max','nw_55','q_mar','q_med','ta_max','ts_min','ta_min','nt_30','nv_0050','n_des','w_racha','np_100','n_nub','p_sol','nw_91','np_001','w_rec','e', 'np_300','nv_1000','evap','p_mes','n_llu','n_tor','w_med','nt_00','ti_max','n_nie','nv_0100','q_min','np_010','ts_20','ts_10','ts_50','Unnamed: 0'],axis=1)

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>5. Funcion grados </p>
</div>

In [ ]:
'''Funcion que pasa los grados de la direccion del viento y devuelve un string de las orientaciones'''
def dir(grades):
    if 1 <= grades <= 12:
        return "N"
    elif 13 <= grades <= 24:
        return "NE"
    elif 25 <= grades <= 36:
        return "E"
    elif 37 <= grades <= 48:
        return "SE"
    elif 49 <= grades <= 60:
        return "S"
    elif 61 <= grades <= 72:
        return "SW"
    elif 73 <= grades <= 84:
        return "W"
    elif 85 <= grades <= 99:
        return "NW"
    
df_concatenated['dir'] = df_concatenated['dir'].apply(dir)

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>6. Estaciones de Madrid. Limpieza de datos y manipulación de datos. </p>
    <ul>
    <li style='font-size:20px'>Madrid Aeropuerto</li>
    <li style='font-size:20px'>Base El Goloso</li>
    <li style='font-size:20px'>El retiro</li>
    <li style='font-size:20px'>Aeródromo Cuatro Vientos</li>
    </ul>
</div>

In [ ]:
df_concatenated['dir'] = df_concatenated['dir'].ffill()
df_concatenated['tmin'] = df_concatenated['tmin'].ffill()
df_concatenated['tmax'] = df_concatenated['tmax'].ffill()
df_concatenated['prec'] = df_concatenated['prec'].ffill()
df_concatenated['tmed'] = df_concatenated['tmed'].ffill()

In [7]:
df_concatenated['horatmin'] = pd.to_datetime(df_concatenated['horatmin'],errors='coerce').dt.time
df_concatenated['horatmax'] = pd.to_datetime(df_concatenated['horatmax'],errors='coerce').dt.time
df_concatenated['tmed'] = df_concatenated['tmed'].str.replace(',', '.').astype(float)
df_concatenated['tmax'] = df_concatenated['tmax'].str.replace(',', '.').astype(float)
df_concatenated['tmin'] = df_concatenated['tmin'].str.replace(',', '.').astype(float)
df_concatenated['velmedia'] = df_concatenated['velmedia'].str.replace(',', '.').astype(float)

C:\Users\Darkos\AppData\Local\Temp\ipykernel_9736\531582772.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_concatenated['horatmin'] = pd.to_datetime(df_concatenated['horatmin'],errors='coerce').dt.time
C:\Users\Darkos\AppData\Local\Temp\ipykernel_9736\531582772.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_concatenated['horatmax'] = pd.to_datetime(df_concatenated['horatmax'],errors='coerce').dt.time

In [8]:
df_concatenated.head(1)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia
0,2020-01-01,3129,MADRID AEROPUERTO,MADRID,609,5.4,"0,0",-2.1,07:30:00,12.8,15:04:00,NE,0.8

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>6.1 Mapeo columna fecha </p>
</div>

In [10]:
df_concatenated['año'] = df_concatenated['fecha'].str.split('-').str[0]
df_concatenated['mes'] = df_concatenated['fecha'].str.split('-').str[1]
df_concatenated['dia'] = df_concatenated['fecha'].str.split('-').str[1]

meses_df_concatened = {
    '01': 'Enero',
    '02': 'Febrero',
    '03': 'Marzo',
    '04': 'Abril',
    '05': 'Mayo',
    '06': 'Junio',
    '07': 'Julio',
    '08': 'Agosto',
    '09': 'Septiembre',
    '10': 'Octubre',
    '11': 'Noviembre',
    '12': 'Diciembre'
}

df_concatenated['mes_nombre'] = df_concatenated['mes'].map(meses_df_concatened)

In [11]:
df_concatenated.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,año,mes,dia,mes_nombre
0,2020-01-01,3129,MADRID AEROPUERTO,MADRID,609,5.4,"0,0",-2.1,07:30:00,12.8,15:04:00,NE,0.8,2020,01,01,Enero
1,2020-01-02,3129,MADRID AEROPUERTO,MADRID,609,5.3,"0,0",-2.3,06:49:00,12.9,15:29:00,NE,1.1,2020,01,01,Enero
2,2020-01-03,3129,MADRID AEROPUERTO,MADRID,609,1.4,"0,0",-1.6,06:30:00,4.5,15:30:00,NW,0.3,2020,01,01,Enero
3,2020-01-04,3129,MADRID AEROPUERTO,MADRID,609,5.4,"0,0",-1.6,05:35:00,12.4,14:26:00,N,2.2,2020,01,01,Enero
4,2020-01-05,3129,MADRID AEROPUERTO,MADRID,609,5.4,"0,0",-2.3,06:52:00,13.0,15:15:00,NW,1.1,2020,01,01,Enero

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>7. Estación El Retiro. Historico 1980-2023. Limpieza de datos y manipulación de datos. </p>

</div>

In [ ]:
df_historic['año'] = df_historic['fecha'].str.split('-').str[0]
df_historic['mes'] = df_historic['fecha'].str.split('-').str[1]

meses = {
    '1': 'Enero',
    '2': 'Febrero',
    '3': 'Marzo',
    '4': 'Abril',
    '5': 'Mayo',
    '6': 'Junio',
    '7': 'Julio',
    '8': 'Agosto',
    '9': 'Septiembre',
    '10': 'Octubre',
    '11': 'Noviembre',
    '12': 'Diciembre'
}

df_historic['nombre_mes'] = df_historic['mes'].map(meses) #mapeo de para la columna nombre-mes
df_historic = df_historic.drop(columns='fecha') #dropeo de la columna fecha, ya no la quiero
df_historic = df_historic[df_historic['mes'] != '13'] #eliminar registros con el mes = 13

historic_columns_order = ['año','mes','nombre_mes', 'tm_min', 'tm_max', 'tm_mes', 'p_max','indicativo']
df_historic = df_historic[historic_columns_order]

df_historic = df_historic.dropna(subset=['tm_min'])
df_historic['mes'] = df_historic['mes'].astype(int)

df_historic = df_historic.sort_values(by=['año', 'mes'], ascending=[True, True])

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>8. Visualizacion de los dataframes </p>

</div>

In [19]:
df_concatenated.head(10)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,año,mes,dia,mes_nombre
0,2020-01-01,3129,MADRID AEROPUERTO,MADRID,609,5.4,"0,0",-2.1,07:30:00,12.8,15:04:00,NE,0.8,2020,01,01,Enero
1,2020-01-02,3129,MADRID AEROPUERTO,MADRID,609,5.3,"0,0",-2.3,06:49:00,12.9,15:29:00,NE,1.1,2020,01,01,Enero
2,2020-01-03,3129,MADRID AEROPUERTO,MADRID,609,1.4,"0,0",-1.6,06:30:00,4.5,15:30:00,NW,0.3,2020,01,01,Enero
3,2020-01-04,3129,MADRID AEROPUERTO,MADRID,609,5.4,"0,0",-1.6,05:35:00,12.4,14:26:00,N,2.2,2020,01,01,Enero
4,2020-01-05,3129,MADRID AEROPUERTO,MADRID,609,5.4,"0,0",-2.3,06:52:00,13.0,15:15:00,NW,1.1,2020,01,01,Enero
5,2020-01-06,3129,MADRID AEROPUERTO,MADRID,609,5.9,"0,0",-2.5,07:33:00,14.3,15:09:00,NE,1.1,2020,01,01,Enero
6,2020-01-07,3129,MADRID AEROPUERTO,MADRID,609,6.0,"0,0",-2.3,NaT,14.3,15:32:00,NW,1.4,2020,01,01,Enero
7,2020-01-08,3129,MADRID AEROPUERTO,MADRID,609,7.8,"0,0",-1.6,NaT,17.1,15:32:00,E,0.6,2020,01,01,Enero
8,2020-01-09,3129,MADRID AEROPUERTO,MADRID,609,6.5,"0,0",-0.6,07:30:00,13.6,13:27:00,NE,1.7,2020,01,01,Enero
9,2020-01-10,3129,MADRID AEROPUERTO,MADRID,609,6.0,"0,0",-0.2,06:45:00,12.3,15:12:00,E,3.6,2020,01,01,Enero

In [20]:
df_historic.head(10)

     año  mes  nombre_mes  tm_min  tm_max  tm_mes     p_max  indicativo
12  1980    1       Enero     2.6     9.1     5.9  10.3(16)        3195
3   1980    2     Febrero     4.2    12.2     8.2   8.4(21)        3195
4   1980    3       Marzo     5.3    14.3     9.8  21.6(21)        3195
5   1980    4       Abril     6.3    17.5    11.9  15.3(29)        3195
6   1980    5        Mayo     9.4    19.0    14.2  30.0(12)        3195
7   1980    6       Junio    14.1    26.1    20.1  11.2(11)        3195
8   1980    7       Julio    16.4    29.9    23.2   0.0(--)        3195
9   1980    8      Agosto    18.8    32.2    25.5   3.8(18)        3195
10  1980    9  Septiembre    16.9    28.5    22.7   3.4(19)        3195
0   1980   10     Octubre     9.9    19.8    14.9  18.2(15)        3195

<div style="font-family: 'Roboto', sans-serif; font-size: 25px; color: white;">
    <p>9. Exportación de dataframes a ficheros Csv. </p>

</div>

In [15]:
df_historic.to_csv('df_historic.csv', index=False)
df_concatenated.to_csv('df_concatenated.csv', index=False)